version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: gochatdist-rabbitmq
    ports:
      - "5672:5672" # Porta padrão AMQP para conexão do seu app
      - "15672:15672" # Porta do painel web (dashboard)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
